* {
  box-sizing: border-box;
}

html {
  min-block-size: 100%;
  background: var(--brand-color-bg);
  color: var(--text-primary-color);
  font-family: var(--font-base);
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

body {
  min-block-size: 100%;
  margin: var(--spacing-none);
  background: var(--brand-color-bg);
  color: var(--text-primary-color);
  font-family: var(--font-base);
  font-size: var(--font-size-body-1);
  line-height: 1.5;
}

body,
a,
button,
input,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
}

img,
svg {
  display: block;
  max-inline-size: 100%;
}

